<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MSP\ReCaptcha\Model\LayoutSettings">
        <plugin name="sharpeningservices_form_recaptcha_zone"
                type="Sharpeningservices\MailAttachment\Plugin\ReCaptcha\Model\LayoutSettings"
                sortOrder="10" />
    </type>
	

    <!-- Maxmize Sharpeningservices Form -->
    <virtualType name="Sharpeningservices\MailAttachment\Model\Provider\IsCheckRequired\Frontend\CustomForm"
                 type="MSP\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">msp_securitysuite_recaptcha/frontend/enabled_custom_form</argument>
            <argument name="area" xsi:type="string">frontend</argument>
<!--            <argument name="requireRequestParam" xsi:type="string">custom_param</argument>-->
        </arguments>
    </virtualType>
    <virtualType name="Sharpeningservices\MailAttachment\Model\Provider\Failure\CustomFormObserver"
                 type="MSP\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\RedirectUrl\ReferrerUrlProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Sharpeningservices\MailAttachment\Observer\Frontend\CustomFormObserver"
                 type="MSP\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Sharpeningservices\MailAttachment\Model\Provider\IsCheckRequired\Frontend\CustomForm</argument>
            <argument name="responseProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Response\DefaultResponseProvider</argument>
            <argument name="failureProvider"
                      xsi:type="object">Sharpeningservices\MailAttachment\Model\Provider\Failure\CustomFormObserver</argument>
        </arguments>
    </virtualType>

	
</config>