<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="sharpeningservices" frontName="warranty-replacement-form">
            <module name="Sharpeningservices_MailAttachment" />
        </route>
    </router>
</config>